<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="P4PORT" value="perforce:5050" />
    <add key="P4USER" value="slin" />
    <add key="P4Client" value="slin" />
    <!-- P4Workspace : is used to replace the workspace in path in projects.xml-->
    <add key="P4Workspace" value="C:\P4\" />

    <!-- DefaultBranchName -->
    <add key="DefaultWorkingBranch" value="current" />
    <!-- Very Important: -->
    <add key="BranchRegexPattern" value="\\(current|offcycle|integration|production|trunk|release)\\" />

    <!--hosts repositories: name:p4path:environment-names-with-comma-->
    <add key="HostsRepositories" value="
         default:\\SCM\Configs\HOSTS\:DEV-INT,DEV-INT2,QA-2,QA-3,QA-4,QA-5;
         repo1:\\REPO1\Utils\hosts\:DEV,INT,QA,UAT,PROD;
         repo2:\\REPO2\Utils\hosts\:DEV,INT,QA,STG;
         repo3:\\REPO3\Utils\hosts\:DEV,INT,QA,STG;" />
    
    <add key="EnableLog" value="false" />
    <!--example - all: all-->
    <!--example - multiple default teams: team8,alpha,etc (from project.xml::Owner element)-->
    <add key="DefaultTeams" value="all" />
    <add key="WcfTestClientLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\WcfTestClient.exe" />
    <add key="SsmsLocation" value="C:\Program Files (x86)\Microsoft SQL Server\140\Tools\Binn\ManagementStudio\Ssms.exe" />

    <add key="DefaultOptionKeyMappings" value="cp:copy;dbg:debug;n:name;b:branch;tm:team;h:host;e,env:environment;"/>
    <add key="DefaultOptionValueMappings" value="int:integration;off:offcycle;release:Release;trunk:Trunk;"/>
    <add key="CustomOptionKeyMappings" value=""/>
    <add key="CustomOptionValueMappings" value=""/>
  </appSettings>
</configuration>